body {
    background-color: darkslategray;
    background-image: url(theme.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: centered;
}

h1,h2,h3 {
    background-color: wheat;
    text-align: center;
    color: rgb(226, 11, 126);
    font-weight: bold;
}

textarea {
    display:block;
    font-display: bold;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: purple;
    background-color: wheat;
}