.blink {
animation: blinker 0.6s linear infinite;
color: #c91c1c;
font-size: 30px;
font-weight: bold;
font-family: sans-serif;
}
@keyframes blinker {  
50% { opacity: 0; }
}
.blink-one {
animation: blinker-one 1s linear infinite;
}
@keyframes blinker-one {  
0% { opacity: 0; }
}
.blink-two {
animation: blinker-two 1.4s linear infinite;
}
@keyframes blinker-two {  
100% { opacity: 0; }
}

body {
background-color: lightgrey;
text-align: center 
}

P { text-align: center }
.button { text-align: center }

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#layout{
  content: "";
  display: table;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

